body {
    background-color: #66c5b5;
  }

  h2 {
    text-align: center;
    margin-top: 50px;
    font-size: 34px;
    font-weight: bold;
  }
  
  #form {
    text-align: center;
    width: 500px;
    margin: 0 auto;
    background-color: rgb(235, 230, 230);
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    padding: 50px;
  }
  
  label,
  input {
    text-align: center;
    display: block;
    margin-bottom: 20px;
    font-size: 25px;
  }
  
  input {
    padding: 10px;
    border: none;
    border-radius: 5px;
    box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-bottom: 20px;
  }
  
  button {
    
    background-color: #4715a3;
    color: rgb(235, 230, 230);;
    padding: 10px;
    border: none;
    border-radius: 5px;
    font-size: 24px;
    cursor: pointer;
    transition: all 0.2s;
  }
  
  button:hover {
    background-color: #b4b4b4;
    color: #5204e4;
    border-radius: 5px;
    
  }